.wrapper{
  height: 100%;
  /*background-color: lime;*/
  padding: 20px;
  /*text-align: center;*/
}

.wrapper div{
  display: inline-block;/*div элементы в ряд. Выравниване блоков*/
  height: 250px;
  width: 100px;
  /*float: left;*/
  background-color: tan;
  border: 1px solid #ff9900;
}
div.col1{
  float: left;
  width: calc(100% - 256px);
}
div.col2{
  float: right;
  width: 250px;
}
/*.qwe{
  vertical-align: top;
}*/
